
.heading{
    background-color: #333;
    padding: 5px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 600;

}

.input-field {
    background-color: white;
    border: none;
    border-radius: calc(0.5 * 300px);;
    color: black;
    font-family: inherit;
    font-size: inherit;
    height: 100%;
    outline: none;
    box-shadow: 0 1px 6px 0 #929382;
    padding-inline-start: 10px;
    position: relative;
    width: 100%;
    z-index: 2;
    transition: border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
}

.input-field:focus{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.15rem #acd7f2;
    .list-container{
        background: #fff;
        box-shadow: 0 9px 8px -3px #86b7fe, 8px 0 8px -7px #86b7fe, -8px 0 8px -7px #86b7fe;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 0;
        border: 0;
        border-radius: 0 0 24px 24px;
        padding-bottom: 4px;
        height: 50vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

.search-container{
width: 60vw;
margin: 2% 23%;
height: 7vh;
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
}

.Search-title{
    margin: 15px 0px;
    font-size: x-large;
    font-family: system-ui
}

.list-view{
    text-align: left;
    margin-block: 0;
    height: 6vw;
}

.list-view:hover{
    background-color:#b8d8f1;
  
}

.list-item{
    list-style-type: none;
    margin-top: 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.list-text{
    position: relative;
    top: -24px;
}

.list-search{
    background-color: #dfe7ec;
    pointer-events: none;
    cursor: not-allowed;
    text-align: left;
    margin-block: 0;
    height: 6vw;
}

.display-search-input{
    width: 20vw;
margin: 6% 3%;
height: 7vh;
}

.search-button{
    margin-left: 18px;
    border-radius: 25px;
    width: 15vw;
}

.search-container-display {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    margin-left: 4%;
}

.filter{
    width: 121px;
    height: 38px;
    border-radius: 6px;
    margin-left: 7px;
}
.search-filter{
    width: 23vw;
    margin-left: 14px;
}